# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.png
.melos_tool/

# Android
.gradle/
**/gradle-wrapper.jar
**/gradlew
**/gradlew.bat
**/local.properties
**/*.iml
.cxx/
captures/
*.jks
*.keystore
key.properties

# iOS
Pods/
Runner.xcworkspace/
DerivedData/
.xcconfig
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# VS Code
.vscode/

# IntelliJ
.idea/

# macOS
.DS_Store

# Others
.env
*.log
*.lock
